<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <script src="/bundle.js"></script>
  </head>
  <body>
    <div id="content"></div>
    <script>
    window.extAsyncInit = function() {
        MessengerExtensions.getUserID(function success(uids) {
			alert(parseInt(meetingID));
			window.attachMeeting(parseInt(meetingID), uids.psid);
        }, function error(err) {
			window.attachMeeting();
        });
    };
    (function(doc, script, domId){
        var js, fjs = doc.getElementsByTagName(script)[0];
        if (doc.getElementById(domId)) { return; }
        js = doc.createElement(script);
        js.id = domId;
        js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));
    </script>
  </body>
</html>
